name: Lighthouse CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]

env:
  SITE_URL: https://gerber.media

jobs:
  lighthouse:
    name: Run Lighthouse
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Lighthouse CI
        uses: treosh/lighthouse-ci-action@v8
        with:
          urls: ${{ env.SITE_URL }}
          threshold: 0
          chrome-flags: '--no-sandbox --headless'
